<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="RedisConfig" type="RedisService.RedisConfigInfo, RedisService"/>
  </configSections>
  <RedisConfig WriteServerList="127.0.0.1:6379" ReadServerList="127.0.0.1:6379" MaxWritePoolSize="500" MaxReadPoolSize="500" AutoStart="true" LocalCacheTime="180" RecordeLog="false"/>
  <appSettings>
    <add key ="WeChatAppId" value="wx1f49864edcede162"/>
    <add key ="WeChatSecret" value="397321322f90543dd09719a1aedcb5a5"/>
    <add key="conn1" value="Data Source=fuwuqicch;User ID=sa;Password=aibangaibangA1;Persist Security Info=True;Initial Catalog=Study"/>
    <add key="connfuwuqicch" value="Data Source=fuwuqicch;User ID=sa;Password=aibangaibangA1;Persist Security Info=True;Initial Catalog=Study"/>
    <add key="conn" value="Data Source=123.206.216.33,15333;User ID=sa;Password=aibangaibangA1;Persist Security Info=True;Initial Catalog=Study"/>
    <!--fuwuqicch-->
  </appSettings>
  <!--<system.webServer>
    <modules>      
      <add name="test" type="HttpHandle.MyModule, HttpHandle"/>
    </modules>
  </system.webServer>-->
  <system.web>
    <customErrors mode="Off"></customErrors>
    <!--<httpModules>
      <add name="test" type="HttpHandle.MyModule, HttpHandle"/>
    </httpModules>-->
    <!--30分钟  或者 在调用Session的cs页中，Load事件里面写以下　　Session.Timeout = 30;-->
    <sessionState mode="InProc" timeout="100"/>
    <compilation debug="true" targetFramework="4.0">
      <!-- 加上此节点，保证原本就是.html类型的文件能正常访问 -->
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
    </compilation>
    <httpRuntime/>
  </system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="POST" />
        <add name="Access-Control-Allow-Headers" value="content-type, x-requested-with" />
      </customHeaders>
    </httpProtocol>
    <!--<applicationInitialization remapManagedRequestsTo="" doAppInitAfterRestart="true">
      <clear />
    </applicationInitialization>-->
    <caching>
      <profiles>
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
        <add extension=".htm" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
      </profiles>
    </caching>
    <staticContent>
      <mimeMap fileExtension=".amr" mimeType="audio/aac" />
    </staticContent>
  </system.webServer>

</configuration>